* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --font-size: 12px;
    --font-family: open-sans;
    --color: #333333;
    --background-color: #ff6000;

}

@font-face {
    font-family: "open-sans";
    src: url("./assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------- */

body {
    font-family: open-sans;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

header {
    width: 100%;
    font-family: open-sans;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 400;
    background-color: #ffffff;
    overflow: hidden;
}

.header-container {
    width: 100%;
}

/* container A */

.container-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    max-height: 90px;
}

.logo {
   align-items: center;
   margin: 10px;
   position: absolute;
   left: 4px;
}

.search-container {
    display: inline-block;
    margin: 0;
    padding: 20px;
    position: relative;
    left: 50px;
    height: 9pc;
}

.search-container form {
    display: inline;
    position: relative;
    left: 200px;
}

.categorias-toggle {
    padding: 12px;
    margin: 30px 0 0 0;
    overflow: hidden;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.categorias-toggle:hover {
    background-color: #e0dede;
    border: none;
}

#chkcategorias {
    display: none;
}

#chkcategorias:checked +ul.main-nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#search-form {
    padding: 12px;
    margin: 30px 0 0 0;
    overflow: hidden;
    font-size: 14px;
    font-family: var(--font-family);
    border: 1px solid #CCCCCC;
    justify-content: center;
    align-items: center;
}  

#search-form:hover {
    background-color: #e0dede;
    border-radius: none;
}

/* menu */


.nav-menu {
   display: flex;
}

.menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 20px;
    position: relative;
    left: 450px;
    list-style-type: none;
    
}

.item {
    display: inline;
    margin: 10px;
    font-size: 17px;
    text-decoration: none;
    color: var(--color);    
}

.item img {
    width: 20px;
    height: 20px;
}

/* Container B - sandwich */

.container-b {
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding: 0;
    display: flex;
    align-items: center;

}

.navbar {
    font-size: 14px;
    padding-left: 5px;
    justify-content: center;
}

.navbar-toggle {
    margin: 10px 20px 10px 10px;
    color: #333333;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.navbar span {
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}


#chkToggle { 
    display: none;
}

 #chkToggle:checked +ul.main-nav {
    display: block;
}


.main-nav {
    list-style-type: none;
    display: none;

}

.nav-links {
    text-decoration: none;
    font-family: var(--font-size);
    font-size: 1em;
    color: #444444;
}

.nav-links:hover {
    background-color: #e0dede;
}

.main-nav li {
    margin-bottom: 10px;
    
}

.nav-links img {
    width: 15px;
    height: 15px;
}

.text-anivers {
    margin: 2px;
    padding: 2px;
    position: relative;
    left: 900px;
}


.pcanivers {
    color: var(--color);
    font-size: 15px;
    text-decoration: none;
       
}


/* MAIN */

main {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: open-sans;
    overflow: hidden;
}

.tittle-h1 {
    margin: 0.5rem;
    padding: 5px;
}

h1 {
    font-size: 0.8rem;
    color: #333333;
}

h1> span {
    font-size: 0.8rem;
    font-weight: normal;
     
}

/* PURPLE AREA */

.purple-area {
    width: 100%;
    padding: 0 20px 20px 20px;
    background-color:  #3f206f;
}

.pcaniversario img {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
    width: 100%;
}

.grid-item {
    padding: 1rem;
    min-height: 6rem;
    padding: 0;
}

.grid-item img {
    width: 100%;
    height: 100%;
}



/* SCROLL AREA */

.swiper-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 20px 20px;
    padding: 30px;
    width: 100%;
}

.swiper-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
} 

 .swiper-1 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;  
}
a div {
    padding: 1px;
}

.swiper-text {
    color: var(--color);
  
} 

/* SEGURO QUE TE INTERESA OFERTA*/

.container-offer {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

.container-offer > h2 {
    font-size: 24px;
    color: var(--color);
    font-weight: bold;
    padding: 30px;
}

.container-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 20px;
    padding: 10px;
    width: 100%;  
}

.offer-container a {
    text-decoration: none;
}

.size-img{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;

}

.size-img > img {
    max-width: 100%;
    max-height: 100%;
}

.percentage {
    position: absolute;
    border-radius: 5px;
    background-color: #bf0019;
}
.percentage span {
    color: white;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.envi-promo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 0.5rem;
    text-decoration: none;

}

.envio-gratis {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid #118000;
    background: white;
    color: #118000;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.promocion {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border: 1px solid #cc4d00;
    background: white;
    color: #cc4d00;
    font-weight: bold;
    font-size: 12px;
}

h3 {
    margin: 20px 0 10px 0;
    color: #333333;
    font-size: var(--font-size, 14px);
    letter-spacing: normal;
    max-height: 3.75rem;
    text-decoration: none;
}

.price span {
    color: #bf0019;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.envio span{
    color: #118000;
    font-size: var(--font-size);
}

.sellpc span {
    color: #333333;
    font-size: var(--font-size);
}

/* TENDENCIAS GRID */

.h2-tendencias {
    font-size: 14px;
    color: var(--color);
    font-weight: bold;
}

.grid-tendencia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    margin-bottom: 2.5rem;
    justify-items: center;
}

.container-grid img {
    width: 100%;
    height: 100%;
}

.container-grid {
    display: block;
    min-height: 6rem;
    padding: 0;
    text-align: center;
}
.grid-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--color);
    padding: 0.5rem 0;
}

/* GRID MARCAS */

.marcas-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
}

.marca-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* TEXTO */

.text {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

.text-box h2 {
    font-size:14px;
}

.text-box p {
    font-size: var(--font-size);

}

.text-box ul {
    font-size: var(--font-size);
}

.list-text {
    padding: 4px;
}

/* Fin de Main */
/*SORTEO*/

.sorteo-container {
    display: flex;
    flex-direction: row;
    background-color: #120458;
    justify-content: center; 
    max-width: 1560px;
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
}

.sorteo-box {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-height: 1px;
}

.sorteo-text {
    margin: 0 20px;
    padding: 20px;
    color: #ffffff;
}

.sorteo-text:first-child {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.5px;
    max-width: 372px;
    align-items: left;
}

.sorteo-text .secondp {
    font-size: 14px;
    line-height: 24px;
    max-width: 360px;
    margin-top: 1rem;
    font-weight: normal;
} 

        /* imagen */

.sorteo-img img {
    width: 400px;
    height: 400px;
    padding: 20px;
}

        /* form */

.sorteo-form {
    background-color: #ffffff;
    border-radius: 4px;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
}

h4+p {
    font-size: 14px;
    color: #444444;
    margin-bottom: 1rem;
}

#input-email {
    padding: 10px;
    font-size: 14px;
    border-style: solid;
    border-radius: 4px #bbb;
    margin-bottom: 8px;
    text-align: center;
}

#input-email:hover {
    background-color: rgb(195, 237, 237);
}

.checkbox-text {
    margin-top: 8px;
}

#checkbox-input {
    color: #ff6000;
    padding: 6px;

}

.checkbox-text span {
    font-size: 11px;
    color: var(--color);
}

.checkbox-text a {
    color: #ff6000;
}

#submit-buttom {
    width: 100%;
    padding: 8px 16px;
    margin-top: 8px;
    background-color: var(--background-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

/* FOOTER */

.footer {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 0;
    justify-content: space-around;
    padding: 5rem;
    font-size: var(--font-size);
    overflow: auto;
}

.footer-section {
    width: 100%;
    display: block;
}

.footer-section span {
    font-size: 14px;
    font-weight: bold;
}

.list-footer {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    line-height: 1.5rem;
}

.item-footer {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
}

.item-footer img{
    width: 15px;
    height: 15px;
}

/* --------MEDIA QUERIES--------------------------------------------- */
/* ---------------------------------------------------------------------- */

@media screen and (max-width: 375px) {
    
    #search-form {
        position: relative;
        right: 60px;
        max-width: 150px;
    }
    
    .categorias-toggle {
        display: none;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .swiper-area {
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-images {
        display: flex;
        flex-wrap: wrap;
    }
    .grid-tendencia {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    .marcas-container {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

    .text {
        padding-right: 2rem;
        padding-left: 0;
    }

    .sorteo-text {
        display: none;
        }

    .sorteo-img {
            display: none;
        }

    .sorteo-box {
        margin: 0;
        padding: 0;
    }

    #input-email {
        padding-left: 0;
        padding-right: 0;

    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        padding: 20px;

    }
}

@media screen and (min-width: 375px) and (max-width: 770px) {

    #search-form {
        display: inline;
        position: relative;
        margin-left: 70px;
    }
    
    .categorias-toggle {
        display: none;
    }

    .menu-list {
        display: inline-block;
        position: relative;
        left: 250px;
        text-align: right;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .swiper-area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    
    .container-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-tendencia {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    .marcas-container {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

    .text {
        padding-right: 2rem;
        padding-left: 0;
    }

    .sorteo-text {
        display: none;
        }

    .sorteo-box {
        margin: 0;
        padding: 0;
    }

    #input-email {
        padding-left: 0;
        padding-right: 0;

    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        padding: 20px;

    }
}


